<manifest
	package="org.shujito.socialbox"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:name=".SocialBoxApplication"
		android:allowBackup="false"
		android:fullBackupContent="false"
		android:label="@string/app_name"
		android:supportsRtl="true">
		<activity android:name=".SocialBoxActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
