doctype html
html
	head
		title A title
		link(href="/css/materialize.min.css",rel="stylesheet")
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
	body
		.container
			h3.header.center.red-text Header!
			.row
				.col.s6.m4.l2
					.card
						.card-content
							span.card-title Some title.
							p Read this now please.
		script(src="/js/jquery-2.1.4.min.js")
		script(src="/js/materialize.min.js")
