.container
	h5.header.center.red-text Welcome!
	.row
		form.col.s12.m6.offset-m3(action='/login' method='post')
			.row
				.input-field.col.s12
					label(for='email') Email
					input(maxlength='100',type='email',name='email')
				.input-field.col.s12
					label(for='password') Password
					input(maxlength='100',type='password',name='password')
				button.btn.waves-effect.col.s6 Access
//- footer.page-footer
	.container
		.row
			.col.s12
				h5.white-text I don't have an account!
				p.white-text: a.grey-text.text-lighten-3(href='/signin') Go here
