.container
	h5.header.center.red-text Create an account
	.row
		form.col.s12.m6.offset-m3(action='/signin' method='post')
			.row
				.input-field.col.s12
					label(for='username') Name
					input(maxlength='100',type='text',name='username')
				.input-field.col.s12
					label(for='email') Email
					input(maxlength='100',type='email',name='email')
				.input-field.col.s12
					label(for='password') Password
					input(maxlength='100',type='password',name='password')
				.input-field.col.s12
					label(for='confirm') Confirm
					input(maxlength='100',type='password',name='confirm')
				button.btn.waves-effect.col.s6 Sign in
//- footer.page-footer
	.container
		.row
			.col.s12
				h5.white-text I already have an account
				p.white-text: a.grey-text.text-lighten-3(href='/login') Get here then.
